<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAG STORE</title>
    <link rel="stylesheet" href="store.css">
</head>
<body>
    <div id="container"></div>
    <header >
        <ul>
       <li> <a href="./about.html" class="header-attribute-class" >ABOUT</a></li>
        <li><a href="./store.html"  class="header-attribute-class">STORE</a></li>
        <li><a href="./home.html"   class="header-attribute-class">HOME</a></li>
       <li> <a href="./order.html" class="header-attribute-class">ORDER</a></li>
        <li><button class="header-attribute-class"  id ="openCartBtn" >CART</button></li>
    </ul>
    <h1>
        The Style Street
    </h1>
    </header>



    <section class="section-of-bag" >

        <div class="row-of-bag" id="rows">
            <!-- <div class="bag">
                <h4 class="bag-title" >HANDBAGS</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH6PtoGxq18jDZrAa1-J-X-mHyC77vXD29Mw&usqp=CAU"  class="images" alt="" width="300px" height="300px">
                <div class="price-cart">
                    <h3 class="price">$4500</h3>  
                    <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                </div>
            </div>
            <div class="bag">
                    <h4 class="bag-title" >HANDBAGS</h4>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhidPXVudHCOSqtLURI3i5mzxeSLLWDvF43w&usqp=CAU"  class="images" alt="" width="300px" height="300px">
                    <div class="price-cart">
                        <h3 class="price">$2500</h3>  
                        <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                    </div>
            </div>
            <div class="bag">
                        <h4 class="bag-title">HANDBAGS</h4>
                        <img src="https://rukminim1.flixcart.com/image/432/518/xif0q/hand-messenger-bag/u/b/c/-original-imagg6heypnt4hg5.jpeg?q=70"  class="images" alt="" width="300px" height="300px">
                        <div class="price-cart">
                            <h3 class="price">$1500</h3>  
                            <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                        </div>
            </div> -->
        </div>

        <div class="row-of-bag">
            <!-- <div class="bag">
                <h4 class="bag-title" >PICNICBAGS</h4>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2moh26gWA6iO_PByfmtaWmQ02zbi45HcC9Q&usqp=CAU" class="images"  alt="" width="300px" height="300px">
                <div class="price-cart">
                    <h3 class="price">$1000</h3>  
                    <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                </div>
            </div>
            <div class="bag">
                    <h4 class="bag-title" > PICNICBAGS</h4>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR80AWY6v9bnOuWKGxK9vn3WqlN36Un4OZ__w&usqp=CAU" class="images"  alt="" width="300px" height="300px">
                    <div class="price-cart">
                        <h3 class="price">$1200</h3>  
                        <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                    </div>
            </div>
            <div class="bag">
                        <h4 class="bag-title" >PICNICBAGS</h4>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU1ntV_HyJCQMxtoZF8V2ezbRi_HbCmH5DoA&usqp=CAU" class="images" alt="" width="300px" height="300px">
                        <div class="price-cart">
                            <h3 class="price">$1300</h3>  
                            <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                        </div>
            </div> -->
        </div>

        <!-- <div class="row-of-bag"> -->
            <!-- <div class="bag">
                <h4 class="bag-title" >SLINGBAGS</h4>
                <img src="https://assetscdn1.paytm.com/images/catalog/product/B/BA/BAGROSETTA-CSB-LAVI705815C315931D/1.jpg?imwidth=282&impolicy=hq" class="images"  alt="" width="300px" height="300px">
                <div class="price-cart">
                    <h3 class="price">$1000</h3>  
                    <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                </div>
            </div>
            <div class="bag">
                    <h4 class="bag-title" >SLINGBAGS</h4>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB1CI_n19_XhlLhZp1bkpd4Zi9-079FE4ARw&usqp=CAU" class="images" alt="" width="300px" height="300px">
                    <div class="price-cart">
                        <h3 class="price">$1200</h3>  
                        <button type="button" class="addtocart" id="btn" >ADD TO CART</button>
                    </div>
            </div>
            <div class="bag">
                        <h4 class="bag-title" >SLINGBAGS</h4>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXA_moRhueSpfBfwWH48lPVrWFcR1xaJ-HSkskorp0ZEuCUFMr6PsRflWMjql7v2qgni0&usqp=CAU" class="images" alt="" width="300px" height="300px">
                        <div class="price-cart">
                            <h3 class="price">$1300</h3>  
                            <button type="button" class="addtocart" id="btn" >ADD TO CART</button> 
                        </div>
            </div> -->
        <!-- </div> -->
    </section>
    <div class="pagination" id="pagination">

    </div>


    <section class="cart-display-section">

       <span class="cart-heading-name">CART</span>
       <button id="close">X</button>
       <div class="cart-row">
        <span class="cart-row-item-name">ITEM</span>
        <span class="cart-row-item-name">PRICE</span>
        <span class="cart-row-item-name"> QUANTIITY</span>
       </div>

       <div class="cart-items" id="cart-item">
        <!-- <div class="cart-row"> -->
            <!-- <div class="cart-items-row-column">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH6PtoGxq18jDZrAa1-J-X-mHyC77vXD29Mw&usqp=CAU" class="cart-images" alt="" width="100" height="100">
                <h3 class="cart-title"> bags</h3>
            </div>
            <div  class="cart-items-row-column">
                <h3 class="cart-price">$1259</h3>
            </div>
            
            <div class="cart-items-row-column">
                <input type="number"  class="cart-row-item-quantity"  value="1">
                <button class="cart-item-remove-button">REMOVE</button>
            </div>
        </div>
        <div class="cart-row">
            <div class="cart-items-row-column">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH6PtoGxq18jDZrAa1-J-X-mHyC77vXD29Mw&usqp=CAU" class="cart-images" alt="" width="100" height="100">
                <h3 class="cart-title"> bags</h3>
            </div>
            <div  class="cart-items-row-column">
                <h3 class="cart-price">$1259</h3>
            </div>
            
            <div class="cart-items-row-column">
                <input type="number"  class="cart-row-item-quantity"  value="1">
                <button class="cart-item-remove-button">REMOVE</button>
            </div> -->
        <!-- </div>
   </div> -->
   </div>


        <div class="purchase">
            <div class="purhase-total-button">
              <span class="total-purchase-heading">Total</span>
              <span class="total-purchase-price">$0</span>
            </div>
            <!-- <button class="purchase-button">PURCHASE</button> -->
            <button class="purchase-button" id="purchase-btn">PURCHASE</button>
        </div>

     </section>

     <footer>
        <div class="footer-title">The Fashion</div>
    
        <div class="footer-image-block">
            <ul>
                <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp-CEJbdqHEVeNrJVPOnwwIRoX0kHuDS3iEg&usqp=CAU" class="footer-images" alt="" width="50" height="50"></li>
                <li><img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?w=2000"   class="footer-images" alt="" width="50" height="50"></li>
                <li><img src="https://www.newsfolo.com/wp-content/uploads/2017/08/youtube.jpg"   class="footer-images" alt="" width="50"  height="50"></li>
            </ul>
        </div>
    
    
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="store.js"> </script>
</body>
</html>